<div id="page-content" class="d-flex flex-column min-vh-100">


<h1 class="text-center pt-2">Articles listing</h1>

<div class="container">
    <% @articles.each do |article| %>
        <div class="card shadow  mb-5 bg-white rounded">
          <div class="card-header">
            by <%= article.user.username %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= truncate(article.description, length: 15) %></p>
            <a href=<%= article_path(article) %> class="btn btn-primary">View Article</a>
            <a href=<%= edit_article_path(article) %> class="btn btn-warning">Edit Article</a>
            <%= link_to "Delete", article_path(article), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class ="card-footer"> 
            <p> <small> Added <%= time_ago_in_words(article.created_at) %> ago </small> -
            <small> Edited <%= time_ago_in_words(article.updated_at) %> ago </small> </p>
          </div>
        </div>
    <% end %>
</div>

</div>