<div id="page-content" class="d-flex flex-column min-vh-100">

    <h2 class="text-center pt-2"><%= @article.title %></h2>
    
    <div class="container">
            <div class="card shadow  mb-5 bg-white rounded">
              <div class="card-header">
                <h5 class="card-title">
                  by <%= @article.user.username %> 
                  <p></p>
                  <%= link_to gravatar_for(@article.user, size: 100), user_path(@article.user) %>
                </h5>
              </div>
              <div class="card-body">
                <div class="card-text text-left"><%= simple_format(@article.description) %></div>
                  <a href=<%= edit_article_path(@article) %> class="btn btn-warning">Edit Article</a>
                  <%= link_to "Delete", article_path(@article), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
              <div class ="card-footer"> 
                <p> <small> Added <%= time_ago_in_words(@article.created_at) %> ago </small> -
                <small> Edited <%= time_ago_in_words(@article.updated_at) %> ago </small> </p>
              </div>
            </div>
    </div>


</div>